.bigDiv{
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.div1{
    background-color: orange;
    height: 10vh;
   column-gap: 10px;
}
.div2{
    background-color: green;
    height: 10vh;
    

}
